force-app/main/default/flows/Bus_Maintenance_Count_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Increase_Maintenance_Count</name>
        <label>Increase Maintenance Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MaintenanceCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Maintenance_Buses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dashboard_Count</name>
        <label>Set Dashboard Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Dashboard_Record.Maintenance_Bus_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaintenanceCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Maintenance_Bus_Count</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Bus Maintenance Count Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bus Maintenance Count Update Flow</label>
    <loops>
        <name>Loop_Maintenance_Buses</name>
        <label>Loop Maintenance Buses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Maintenance_Buses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Maintenance_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Dashboard_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Dashboard_Record</name>
        <label>Get Dashboard Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Dashboard_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>College Transport Dashboard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Maintenance_Dashboard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Maintenance_Buses</name>
        <label>Get Maintenance Buses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Maintenance_Buses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maintenance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Maintenance_Bus_Count</name>
        <label>Update Maintenance Bus Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Dashboard_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Maintenance_Buses</targetReference>
        </connector>
        <object>Bus__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MaintenanceCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
